@media only screen and (min-width:600px) { 

    @keyframes resize {
        0%{
          margin-top: 0;
          margin-bottom: 0;
        }
       100% {
          margin-top: 0;
          margin-bottom: 0;
        }
    }

    .containerResize {
        animation-duration: 1.5s;
        animation-name: resize;
        animation-iteration-count: infinite;
    }

    @keyframes resizeImg {
        0%{
          transform: scale(0.5, 0.5); 
        }
       100% {
        transform: scale(0.5, 0.5);
        }
      }

    .imgResize {
        animation-duration: 1.5s;
        animation-name: resizeImg;
        animation-iteration-count: infinite;
    }
}

@media only screen and (min-width:1240px) {
  @keyframes resizeImg {
    0%{
      transform: scale(0.5, 0.5);
      padding-left: 70px;
      // margin-left: -25%;
    }
   100% {
    transform: scale(0.5, 0.5);
    padding-left: 70px;
    // margin-left: -25%;

    }
  }

  @keyframes resize {
    0%{
      margin-top: 0;
      margin-bottom: 0;
      margin-left: -55px;
    }
   100% {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: -55px
    }
}

  @keyframes moveSelection {
    0% {
      margin-left: -50px;
    }
    100% {
      margin-left: -50px;
    }
  }
  .changeSelection {
    animation-duration: 1.5s;
    animation-name: moveSelection;
    animation-iteration-count: infinite;
  }
}
    