.container{
    margin: 275px 18% 200px 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h4 {
        margin: 15px 0;
    }
}

footer{
    margin: 0 10% 20% 10%;
    text-align: center;
}


//TABLET
@media only screen and (min-width:600px) { 

    .container{
        margin: 275px 20% 200px 10%;
        display: grid;
        grid-gap: 0px;
        grid-template-areas:
        "img div . . . . . . . ."
    }
}

//DESKTOP VIEW
@media only screen and (min-width:1240px) {
    .container{
        margin: 275px 8% 200px 8%;
        grid-template-areas:
        "img div . . . . . . . . "
    } 
    footer{
        margin: 0 10% 20% 15%;
        text-align: left;
    }

}